:root,
body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: transparent;
	padding: 0;
	margin: 0;
	display: inline;
	text-align: center;
	vertical-align: center;
}

body > span {
	font-size: 72px;
}
